body {
    font-family: Arial;
    background-color: white;
}
.button {
    background-color:rgb(76, 178, 238);
    border: none;
    border-radius: 4px;
    padding: 15px 32px;
    text-align: center;
    transition-duration: 0.4s;
    font-size: 16px;
    position: absolute;
}
.button:hover {
    background-color: rgb(0, 153, 255);
}
.dark-mode {
    background-color: rgb(61, 61, 61);
    color: white;
    transition-duration: 0.4s;
}
.light-mode {
    background-color: white;
    color: black;
    transition-duration: 0.4s;
}
.title {
    text-align: center;
    position: relative;
}
.para {
    position: relative;
}
.active {
    background-color: #04AA6D;
}
ul {
    position: static;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(61, 61, 61);
}

li {
    float: left;
}

.getinput {
    border: none;
    background-color: rgb(50,50,50);
}

#log-in {
    float: right;
}

#login-form {
    border: 2px solid rgb(0,0,0);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
