body {
  background-image: url("/games/bei/images/bg.png");
  font-family: Arial, sans-serif;
}
.logo {
	position: absolute;
	top: 5%;
	left: 31%;
}

.content {
	position: absolute;
	top: 90%;
	padding: 15px;
	left: 43%;
	transform: perspective(1px) translateZ(0);
}

#Progress_Status {
	width: 50%;
	position: absolute;
	background: #ddd;
	text-align: center;
	color: black;
	left: 25%;
	top: 70%;
}

#myprogressBar {
	width: 3%;
	height: 35px;
	background-color: #4CAF50;
	text-align: center;
	line-height: 32px;
	color: black;
}
